* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --secondary-color: #e2eddf;
    --text-color-black: #152427;
    --text-color-white: #fff;
    --text-color-gray: #575d5e;
    --text-color-light-gray: #7d8188;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", "Public Sans", sans-serif;
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 0.85;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.btn {
    min-width: 173px;
    height: 57px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    border-radius: 40px;
    border: 1.5px solid var(--primary-color);
    color: var(--text-color-white);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    font-family: inherit;
    font-size: 4.2rem;
    color: var(--text-color-black);
    font-weight: 600;
    line-height: 1.24;
}

.section-heading--line::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: currentColor;
    margin: 0 0 8px 21px;
}

.section-desc,
.section-paragraph {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.71;
    color: var(--text-color-light-gray);
}

.section-label {
    color: var(--text-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.section-label::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--text-color-black);
    margin-right: 21px;
}

/* Header */
.header {
    font-family: "Public Sans", sans-serif;
}

.header-top {
    margin-top: 28px;
    padding-bottom: 12px;
    position: relative;
    display: flex;
    align-items: center;
}

.header-top::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.logo {
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
}

.logo__title {
    color: #000;
    font-weight: 600;
    font-size: 1.8rem;
}

.navbar {
    margin: 0 88px 0 auto;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 16px 19px 30px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
    color: var(--text-color-gray);
}

.navbar__link:hover {
    color: var(--text-color-black);
}

.navbar__link--active {
    color: var(--text-color-black);
    position: relative;
    z-index: 1;
}

.navbar__link--active::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 19px;
    bottom: 0;
    background: var(--primary-color);
    width: 16px;
    height: 2px;
}

.hero {
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 34.5%;
}

.hero__heading {
    font-size: 5rem;
    font-weight: 800;
    margin-right: 25px;
}

.hero__desc {
    margin-top: 20px;
    font-size: 1.8rem;
}

.hero__row {
    display: flex;
    margin-top: 42px;
}

.hero__play {
    display: flex;
    align-items: center;
    margin-left: 36px;
    cursor: pointer;
}

.hero__play:hover .hero__play-icon svg:last-child {
    transform: translateX(3px);
    opacity: 0.85;
}

.hero__play-icon {
    display: flex;
    align-items: center;
    margin-right: 37px;
    position: relative;
    transition: 0.25s;
}

.hero__play-icon svg:last-child {
    position: absolute;
    left: 7px;
    transition: 0.25s;
}

.hero__play-content {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: var(--text-color-black);
}

.hero__media {
    width: 56.7%;
    margin-left: 76px;
    position: relative;
}

.hero__images {
    display: flex;
    column-gap: 20px;
    position: relative;
}

.hero__media::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
    left: 0;
    right: 0;
    top: 122px;
    bottom: 0;
    margin: auto;
}

.hero__img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}

.hero__abstract {
    position: absolute;
    bottom: 214px;
    right: 273px;
    z-index: 1;
}

.hero__abstract svg:first-child {
    position: absolute;
    top: 2px;
    left: -46px;
}

.hero__abstract--down {
    transform: rotate(180deg);
    right: 45px;
    bottom: -88px;
}

/* Brand */
.brand {
    margin-top: 207px;
}

.brand__container {
    display: flex;
    padding: 77px 121px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 100px;
    line-height: 1.5;
}

.brand__google {
    font-size: 3.1rem;
    font-weight: 500;
}

.brand__slack {
    display: flex;
    align-items: center;
    font-size: 3.2rem;
    font-weight: 600;
}

.brand__slack-icon {
    width: 47px;
    height: 47px;
    object-fit: cover;
}

.brand__agworld {
    display: flex;
    align-items: center;
    color: #163c35;
    font-size: 2.6rem;
}

.brand__agworld-icon {
    width: 40px;
    height: 31px;
    object-fit: cover;
    margin-right: 11px;
}

.brand__riotinto {
    font-family: "Sonsie One";
    font-size: 2.3rem;
}

.brand__heroku {
    display: flex;
    align-items: center;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.brand__heroku-icon {
    width: 30px;
    height: 30px;
    margin-right: 14px;
    object-fit: cover;
}

/* Service */
.service {
    margin-top: 106px;
}

.service__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.service__header {
    width: 45.6%;
}

.service__btn {
    margin: 0 73px 9px 0;
    display: inline-flex;
    gap: 17px;
}

.service__btn-item {
    width: 54px;
    height: 54px;
    outline: none;
    border: none;
    background: var(--secondary-color);
    border-radius: 50%;
    color: var(--text-color-black);
}

.service__btn-item:hover {
    background-color: var(--text-color-black);
    color: #fff;
    cursor: pointer;
}

.service__btn-item--right {
    transform: rotate(180deg);
}

.service__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service__item {
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.service__item-img {
    display: flex;
    width: 370px;
    height: 318px;
    object-fit: cover;
    cursor: pointer;
}

.service__item-detail {
    padding: 24px 0 24px 18px;
}

.service__item-heading {
    color: var(--text-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
}

.service__item-desc {
    margin-top: 18px;
    font-size: 1.4rem;
    color: var(--text-color-light-gray);
    width: 72.4%;
    transition: 0.25s;
}

.service__item:hover {
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    border-radius: 20px;
}

/* About us */
.about-us {
    margin-top: 149px;
}

.about-us__container {
    display: flex;
    justify-content: space-between;
}

.about-us__media {
    width: 51.8%;
    position: relative;
}

.about-us__images {
    display: flex;
    column-gap: 21px;
    position: relative;
}

.about-us__images::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 405px;
    height: 570px;
    background: #d9eddc;
    filter: blur(137px);
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.about-us__img {
    width: 286px;
    height: 480px;
    border-radius: 210px;
    object-fit: cover;
}

.about-us__img:last-child {
    filter: grayscale(100%);
}

.about-us__img:first-child {
    margin-top: 90px;
}

.about-us__abstract {
    position: absolute;
    bottom: 131px;
    right: 35px;
    z-index: 1;
}

.about-us__abstract svg:first-child {
    position: absolute;
    top: -45px;
    left: -40px;
}

.about-us-card {
    position: absolute;
    bottom: 8px;
    right: 0;
    width: 144px;
    height: 144px;
    padding: 19px 17px 11px;
    border-radius: 8px;
    background: #fff;
    font-family: "Public Sans", "Poppins";
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-us-card__title,
.about-us-card__percent-number,
.about-us-card__percent-text,
.about-us-card__team-title {
    color: var(--text-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-us-card__title {
    font-size: 1.4rem;
}

.about-us-card__desc {
    margin-top: 6px;
    color: var(--text-color-black-gray);
    font-size: 1rem;
    line-height: 1.4;
}

.about-us-card__percent {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.about-us-card__percent-bar,
.about-us-card__percent-bar::before {
    width: 100%;
    height: 2px;
    position: relative;
    border-radius: 10px;
    background: #eaeaea;
}

.about-us-card__percent-bar::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    background: #83a17d;
}

.about-us-card__percent-text {
    align-self: flex-end;
}

.about-us-card__radio {
    width: 11px;
    height: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    background: #eaeaea;
    border-radius: 50%;
}

.about-us-card__radio::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background: var(--primary-color);
    border-radius: 50%;
}

.about-us-card__team-info {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.about-us-card__images {
    display: flex;
}

.about-us-card__img {
    width: 16px;
    height: 16px;
    margin-left: -6px;
    border: 1px solid #fff;
    border-radius: 50%;
    object-fit: cover;
}

.about-us__content {
    width: 42.5%;
}

.about-us__desc {
    margin: 11px 0 36px;
}

.about-us__detail {
    display: flex;
    column-gap: 24px;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
}

.about-us__detail:not(:first-of-type) {
    margin-top: 38px;
}

.about-us__detail-heading {
    color: var(--text-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.about-us__detail-desc {
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

/* Process */
.process {
    margin-top: 115px;
}

.process__header {
    width: 44%;
}

.process__list {
    margin-top: 81px;
}

.process__item {
    position: relative;
    padding: 46px 41px 21px 20px;
    display: flex;
    border-radius: 33px;
    border-bottom: 3px solid transparent; /* Kích thước viền */

    /* Sử dụng background với gradient */
    background-image: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 2px;
    transition: 0.25s;
}

.process__item-heading {
    display: flex;
    align-items: center;
}

.process__order {
    width: 110px;
    color: var(--primary-color);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72;
    margin-right: 49px;
}

.process__detail {
    position: relative;
}

.process__heading {
    color: var(--text-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.process__link {
    position: absolute;
    display: none;
    top: 38px;
    left: 0;
    color: var(--text-color-gray);
    font-size: 1.8rem;
    line-height: 1;
    text-decoration: underline;
    transition: 0.25s;
}

.process__desc {
    margin-left: auto;
    width: 50%;
    color: var(--text-color-light-gray);
    font-family: "Public Sans", "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
    transition: 0.25s;
}

.process__img {
    position: absolute;
    display: none;
    width: 39.5%;
    height: auto;
    object-fit: cover;
    bottom: 0;
    right: 92px;
    transition: 0.25s;
}

.process__item:hover {
    padding: 54px 0 54px 30px;
    background: var(--secondary-color);
}

.process__item:hover .process__link,
.process__item:hover .process__img {
    display: inline-block;
}

.process__item:hover .process__desc {
    display: none;
}

.process__item:has(+ .process__item:hover) {
    background-size: 0;
}

/* Project */
.project {
    margin-top: 148px;
    padding: 116px 130px 63px;
    background: var(--primary-color);
}

.project__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project__heading {
    width: 40%;
    color: #e7f9f9;
}

.project__detail {
    margin-top: 11px;
    width: 51.75%;
}

.project__link {
    margin-top: 13px;
}

.project__link:hover {
    cursor: pointer;
    opacity: 0.9;
}

.project__link-content {
    margin-right: 26px;
    color: #fff;
    font-family: "Public Sans", "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
    transition: 0.25s;
}

.project__link:hover .project__link-content {
    margin-right: 20px;
}

.project__media {
    position: relative;
}

.project__video {
    margin-top: 72px;
    position: relative;
    border-radius: 22px;
    width: 100%;
    height: 544px;
    object-fit: cover;
}

.project__video::before {
    content: "";
    background: rgba(0, 0, 0, 0.5); /* Thêm màu sắc để dễ thấy overlay */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.project__play-btn,
.project__pause-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 118px;
    height: 118px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.project__play-btn:hover,
.project__pause-btn:hover {
    opacity: 0.85;
}

.project__play-icon {
    margin-left: 5px;
}

/* Features */
.feature {
    margin-top: 140px;
}

.feature__header {
    width: 48%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.feature__list {
    margin-top: 103px;
    display: flex;
    column-gap: 45px;
}

.feature__item {
    width: 350px;
    height: 362px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    transition: 0.25s;
}

.feature__item:hover {
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    transform: translateY(-59px);
}

.feature__item-heading {
    margin-top: 24px;
    color: var(--text-color-black);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.feature__item-desc {
    width: 81.7%;
    color: var(--text-color-light-gray);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
    margin-top: 12px;
}

/* Blog */
.blog {
    margin-top: 184px;
}

.blog__header {
    display: flex;
    justify-content: space-between;
}

.blog__heading {
    width: 52%;
}

.blog__desc {
    width: 36%;
    margin-top: 29px;
}

.blog__list {
    margin-top: 90px;
    display: flex;
    column-gap: 30px;
}

.blog__item {
    flex-grow: 1;
    max-width: 360px;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.25s;
}

.blog__img {
    width: 100%;
    min-height: 317px;
    object-fit: cover;
    cursor: pointer;
}

.blog__item-content {
    padding: 0 30px;
}

.blog__tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
    width: 107px;
    height: 26px;
    border-radius: 20px;
    background: var(--secondary-color);
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;
    transition: 0.25s;
}

.blog__item-title {
    margin-top: 13px;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    height: 90px;
    cursor: pointer;
}

.blog__item-date::before {
    content: "";
    margin: 9px 0 15px;
    display: block;
    height: 1px;
    background: #c4c4c4;
}

.blog__item-date {
    margin-bottom: 12px;
    text-align: right;
    color: var(--text-color-gray);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.blog__item:hover {
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog__item:hover .blog__tag {
    background: var(--primary-color);
    color: #fff;
}

/* Footer */
.footer {
    margin-top: 102px;
    padding: 72px 130px 50px;
    background: var(--primary-color);
}

.footer__container::after {
    content: "";
    margin-top: 45px;
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer__form-heading {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1;
}

.footer__form-input {
    position: relative;
    width: 354px;
}

.footer__input {
    margin-top: 25px;
    width: 100%;
    outline: none;
    border-style: none none solid none;
    border-width: 0 0 1px 0;
    background: transparent;
    padding: 0 0 36px;
    color: #6a8383;
    transition: 0.25s;
}

.footer__input:focus {
    padding: 26px 0 10px;
}

.footer__input::placeholder {
    color: #6a8383;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.footer__arrow {
    position: absolute;
    top: 35px;
    right: 0;
    cursor: pointer;
    transition: 0.25s;
}

.footer__arrow:hover {
    opacity: 0.75;
}

.footer__form-input:focus-within .footer__arrow {
    top: 50px;
}

.footer__social-icon {
    margin-top: 47px;
    display: flex;
    column-gap: 22px;
}

.footer__icon {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #265252;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.25s;
}

.instagram__square {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram__round {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.footer__icon:hover {
    background: #a75325;
}

.footer__menu {
    display: flex;
    column-gap: 50px;
}

.footer__item {
    color: #6a8383;
    font-family: "Public Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.25;
    cursor: pointer;
}

.footer__item-heading {
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 6px;
    cursor: revert;
}
